<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="../../Styles (css)/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

    <div class="login-box">

        <h2>Register</h2>

        <form method="post" action="sessionHandler.php" style="font-size: l0pt">

            <div class="user-box">
                <input type="text" name="name" required="">
                <label>Full Name</label>
            </div>

            <div class="user-box">
                <input type="email" name="email" required="">
                <label>Email</label>
            </div>

            <div class="user-box">
                <input type="text" name="username" required="">
                <label>Username</label>
            </div>

            <div class="user-box">
                <input type="password" name="password" required="">
                <label>Password</label>
            </div>

            <div class="user-box">
                <input type="text" name="mobile_no" required="">
                <label>Mobile No</label>
            </div>

            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <button type="submit">REGISTER</button>
            </a>

        </form>

        <a href="login.php" class="float-right text-primary">Already a Member? Login</a>

    </div>

</body>

</html>